
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img id="logo" src="../assets/logo_transparent.png"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/us"><i class="fas fa-users"></i>Acerca de nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/voluntary"><i class="fas fa-suitcase"></i>Voluntarias</a>
      </li>
    </ul>
    <form>
      <div class="login">
        <button class="buttonLogin" type="button" data-toggle="collapse" data-target="#demo">Login<i
            class="fas fa-user"></i></button>
        <div id="demo" class="collapse">
          <input #emailL type="text" placeholder="Correo" class="form-control mt-3">
          <input #passwordL type="text" placeholder="Contraseña" class="form-control mt-3">

          <button class="btn btn-success mt-3 mb-3" type="submit"
            (click)="login(emailL.value, passwordL.value)">submit</button>
        </div>
      </div>
    </form>
  </div>
</nav>

<!-- <footer>
  <div class="footerleft">
    <p>SÍGUENOS</p>
    <a class="icono"><i class="fab fa-facebook-f"></i></a>
    <a class="icono"><i class="fab fa-instagram"></i></a>
    <a class="icono"><i class="fab fa-twitter"></i></a>

    <p>INFORMACIÓN</p>
    <div class="pleft">
      <p>Acerca de nosotros</p>
      <p>Contáctanos</p>
      <p>Política de privacidad</p>
    </div>

    <div class="pright">
      <p>Conviértete en Voluntaria</p>
      <p>Recursos</p>
      <p>Términos de Servicio</p>
    </div>
  </div>

</footer> -->


<router-outlet></router-outlet>