.navbar{
    background: #BE318C;
    border-radius: 0 0 40% 0;  
    height: 200px;  
}
a{
    color:#ffffff;
}
#logo{
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
}
.login{
    margin-right: 200px;
}
.buttonLogin{
    border-radius: 7px;
    width: 100px;
    background: #ffffff;
    border: none;
    color: #7C4DFF;
}
footer{
    margin-top: 500px;
    background:#FABF2F;
    height: 300px;
}
.icono{
    margin-left: 10px;
}
.footerleft{
    margin-left: 100px;
    padding-top: 20px;
    float: left;
}
.pleft{
    float: left;
    padding-right: 30px;
}
.pright{
    float: right;
}

