<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img id="logo" src="../assets/logo_transparent.png"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-users"></i>Acerca de nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-suitcase"></i>Voluntarias</a>
      </li>
    </ul>
    <form>
      <button class="buttonLogin" type="submit">Login<i class="fas fa-user"></i></button>
    </form>
  </div>
</nav>
<img id="woman" src="../assets/Rectangle.png">
<h2 id="textWoman">CONECTANDO MUJERES PODEROSAS</h2>
<div class="seeMore">
  <h4>Conviértete en voluntaria</h4>
  <button>Averiguar más</button>
  <p>Si tienes 1 hora al año, ¡únete a nuestro equipo!</p>
</div>

<div class="setion1">
  <h5>Le mostramos a la próxima generación que las mujeres también hacen Ciencias, Tecnología, Ingeniería & Matemáticas
    (STEM en inglés).</h5>
  <div class="setionleft">
    <h6>Design system for business</h6>
    <p>We believe that living an honest and intentional life will carry over to the way you run your business.</p>
  </div>
  <div class="setionright">
    <h6>Design system for living</h6>
    <p>We believe that amazing typography and white space will help you build a beautiful website experience.</p>
  </div>
  <div class="setionleft">
    <h6>Design system for the boost</h6>
    <p>We believe that being genuine and transparent with your audience is paramount to a successful business.</p>
  </div>
  <div class="setionright">
    <h6>Design system for community</h6>
    <p>We believe that doing life together—both business and personal—is the only way to go about this journey.</p>
  </div>
</div>

<div class="setion2">
  <div class="section2left">
    <h2>Inscribe a tu colegio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna </p>
  </div>
  <div class="seeMore">
    <button>Averiguar más</button>
  </div>
</div>
<img id="students" src="../assets/Mac Window.png">

<div class="setion3">
  <h3>Blog</h3>
  <h6>Revisa nuestro artículos</h6>

  <div class="blogleft"></div>
  <div class="blogright"></div>
  <div class="blogleft"></div>
  <div class="blogright"></div>
</div>

<footer>
  <div class="footerleft">
    <p>SÍGUENOS</p>
    <a class="icono"><i class="fab fa-facebook-f"></i></a>
    <a class="icono"><i class="fab fa-instagram"></i></a>
    <a class="icono"><i class="fab fa-twitter"></i></a>

    <p>INFORMACIÓN</p>
    <div class="pleft">
      <p>Acerca de nosotros</p>
      <p>Contáctanos</p>
      <p>Política de privacidad</p>
    </div>

    <div class="pright">
      <p>Conviértete en Voluntaria</p>
      <p>Recursos</p>
      <p>Términos de Servicio</p>
    </div>
  </div>

</footer>






<router-outlet></router-outlet>
